# Lecture 7 - May 29, 2017
On A1 if any ambiguity, write down your assumptions 

$$Q_1 \text{ UNION } Q_2 \implies \lor$$
$$Q_1 \text{ EXCEPT } Q_2 \implies \land\neg$$

### Slide 67 Example
```sql
SELECT r.author, sum(r.p) as pages
FROM (SELECT author, endpage - startpage - 1 as p
        FROM wrote, article
        WHERE publication = pubid) r
GROUP BY r.author
```

### Having Clause
A where condition of the `GROUP BY` statement (aggregates)

### Slide 69 Example (All the authors with count = 1 with out Having clause)
```sql
SELECT r.publication, r.c
FROM (
    SELECT publication, count(author) as c
    FROM work
    GROUP BY publication
) r
WHERE r.c = 1
```

## Duplicate Semantics

SQL uses Multiset/Bag semantics, rather than SET semantics.

| Part |
| ---- |
| bolt |
| bolt |
| bolt |
| nut |
| nut |

Is the same as:

|Part| Num|
|----|----|
|bolt|3|
|nut|2|

### Slide 7 Example
The following example 
```sql
SELECT r1.publication
FROM wrote w1
WHERE exists (
    SELECT * FROM wrote w2 WHERE w1.publication = w2.publication AND w1.author <> w2.author
)
```
**Wrote**:

|author | publication |
| ----- | ----------- |
| a1 | p1 |
| a2 | p1 |
| a3 | p1 |

Query from the slides would give:
- `p1, p1, p1, p1, p1, p1`
- For every author, there are two additional authors with the same publication

Query from the slides + `DISTINCT`:
- `p1`

Example above:
- `p1, p1, p1`
- Finds just one (it exists) for every author

### Bag Operations
- bag Union: `UNION ALL`
  - Bag containing all of $Q_1$ and $Q_2$
- bag Difference: `EXCEPT ALL`
  - Doesn't behave like negation any more
- bag intersection: `INTERSECT ALL`
  - Bag of all tuples, $max(Q_1, Q_2)$
 
## NULL Values
The interpretation of `NULL` depends on the db designer's internations

### Value Inapplicable
Instead of having NULL, could break into 2 tables (Office Phone, Home Phone)
- Pro: It's convenient (for queries) to have both data items in the same table

### Value Unknown
Means that the value could be anything in the domain (that is still valid). How do we answer queries?
- Could try every domain valid and return all that are true $\implies$ NP-Hard, potentially infinite (i.e. integers)
- SQL approximates this

**Set Opertions**
  - NULL behaves like in java/C
**Aggregate Operations**
  - NULL doesn't count
  - **Note:** `count(*)` counts the number of rows
  
### Comparisons With NULL
- Uses 3-Valued logic
- Comparisions with `NULL` returns `UNKNOWN`

### Outer Join
-